/* Main colors */
$black: #171413;
$white: #ffffff;
$green: #6EB212;
$shadown: #00000038;
$overlay: #00000094;

/* Gray colors */
$gray-dark: #4d4d4d;
$gray-darkest: #999999;

/* Aux colors */
$success: #76c60a;
$error: #e03131;